.row::after {
    content:"";
    clear: both;
    display: table;
}

[class*="col-"] {
    float:left;
    padding:0px;
    border: 1px solid red;
}
.main-content{
    margin-left:0!important;
    margin-right:0!important;
    max-width:99.999%;
}


.col-1 {width:6.25%;}
.col-2 {width:12.5%;}
.col-3 {width:18.75%;}
.col-4 {width:24.99999%;}
.col-5 {width:31.25%;}
.col-6 {width:37.5%;}
.col-7 {width:43.75%;}
.col-8 {width:49.99999%;}
.col-9 {width:56.25%;}
.col-10 {width:62.5%;}
.col-11 {width:68.75%;}
.col-12 {width:75%;}
.col-13 {width:81.25%;}
.col-14 {width:87.5%;}
.col-15 {width:93.75%;}
.col-16 {width:100%;}

.padding-16{padding-top:16px!important;padding-bottom:16px!important}
.padding-8{padding-top:8px!important;padding-bottom:8px!important}


.nick-center{text-align:center!important}

.header {
    font-family: "Courier new", monospace;
    background-color:#E16D54;
    color:#000000;
    padding: 0;
}
